.header {
    width: 100%;
    font-family: "Barlow Condensed", serif;
    position: absolute;
    top: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
}

.navigation ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0.6rem;
}

.navLink {
    display: block;
    padding: 1rem;
    font-size: 1.8rem;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 200;
}
