.container {
    width: 20%;
    margin-left: 10%;
}

.container h1 {
    font-weight: 300;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
}

.container .content {
    overflow-y: auto;
}

.container p {
    margin: 1rem 0;
}
