.page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.planetContainer {
    display: flex;
    width: 50%;
    height: 100%;
}
