.container {
    width: 20%;
    margin-left: 10%;
    color: #fff;
}

.container h1 {
    font-family: "Barlow Condensed", serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 4rem;
    text-align: center;
}

.container p {
    font-size: 1.1rem;
}
