body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: var(--text-color);
    font-family: "Barlow", serif;
    paint-order: stroke fill;
    -webkit-text-stroke: 0.2em var(--page-stroke-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Barlow Condensed", serif;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

#root {
    height: 100%;
}
